.title {
    padding: 6px 8px 6px 16px;
    font-size: 22px;
    color: #818181;
    font-weight: bold;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: row;
  }


  .mainview {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
  }

  .header {
    height: 45px;
    background-color: #FFCC44;
    padding: 0.2em 0em 0.1em 0em;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    text-align: center;
  }

  .content {
    flex-grow: 1;
    background-color: white;
    height: 100%;
    width: 100%;
  }

  .sidenav {
    width: 200px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 0.5em;
    flex-shrink: 0;
  }


  .sidenav-mobile {
    width: 200px;
    min-height: 100vh;
    max-height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 0.5em;
    flex-shrink: 0;
  }

  .sidenav-mobile a,
  .sidenav a {
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
  }

  .sidenav-mobile a:hover,
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .icon {
    height: 3em;
  }

  .menuitem {
    text-align: left;

    margin-bottom: 0.5em;

    margin-left: 2em;
    margin-right: auto;
  }

  .active-link {
    background: #222;
  }

  .dropdown {
    display: inline-block;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 5px;
    background-color: #222;
    color: white;
    width: 1.8em;
  }

  .table-button {
    width: 35px;
  }

  .table-date {
    font-size: 18px;
    width: 35px;
  }

  .close-button {
    cursor: pointer;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    font-size: 25px;
    color: #ccc;
    margin-right: 5px;
  }

  .mobile-align {
    text-align: left;
    padding-left: 1em;
  }