<div class="container">
  <div *ngIf="hasSideNav" [ngClass]="getSideNavClass()">
    <table>
      <tr>
        <td><p class="title">Valós&nbsp;idejű adatok</p></td>
        <td *ngIf="isMobile()" style="width: 100%;"></td>
        <td *ngIf="isMobile()"><button class="close-button" (click)="disableSideNav()">&#10006;</button></td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <a class="menuitem" routerLink="/electricmeter" routerLinkActive="active-link" (click)="restoreSideNav()">
            <span>Villanyóra</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>
    </table>
  </div>
  <div class="mainview" (window:resize)="onResize()">
    <table class="header">
      <tr>
        <td *ngIf="isMobile()" class="mobile-align">{{pageTitle}}</td>
        <td class="table-date"><input type="date" [value] ="interestedDate | date:'yyyy-MM-dd'" [max]="maxDate | date:'yyyy-MM-dd'" (change)="changeDate($event.target)"></td>
        <td *ngIf="!isMobile()">{{pageTitle}}</td>
        <td *ngIf="!hasSideNav" class="table-button"><span class="dropdown" (click)="enableSideNav()">...</span></td>
      </tr>
    </table>
    <div class="content">
      <router-outlet (activate)='onActivate($event)'></router-outlet>
    </div>
  </div>
</div>
