<app-charts-area-chart-stacked #chart *ngIf="!hasError" id="electricmeterchart" (window:resize)="onResize()"
  [view]="view"
  [animations]="animations"
  [scheme]="colorScheme"
  [legend]="legend"
  [legendPosition]="legendPosition"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="false"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="multi"
  [yAxisTickFormatting]="valueFormat"
  [legendTitle]="interestedDate.toLocaleDateString('hu-HU')"
  [referenceLines]="referenceLines"
  [showRefLines]="showRefLines"
  [showRefLabels]="showRefLabels"
  [xAxisTickFormatting]="timeFormat">

  <ng-template #tooltipTemplate let-model="model">
    <span class="tooltip-label">{{ getModelName(model.series) }} &bull; {{ model.name.toLocaleTimeString("hu-HU") }} </span>
    <span class="tooltip-val">{{ model.value.toLocaleString("hu-HU") }}W</span>
  </ng-template>

  <ng-template #seriesTooltipTemplate let-model="model">
    {{ getToolTipTime(model) }}
    <xhtml:div class="area-tooltip-container">
      <xhtml:div *ngFor="let tooltipItem of model" class="tooltip-item">
        <xhtml:span class="tooltip-item-color" [style.background-color]="tooltipItem.color"></xhtml:span>
        {{ getToolTipText(tooltipItem) }}
      </xhtml:div>
      <xhtml:div class="tooltip-item">
        <xhtml:span class="tooltip-item-color" [style.background-color]="'red'"></xhtml:span>
        Összes fogyasztás: {{ totalConsumption }} kWh
      </xhtml:div>
      <xhtml:div class="tooltip-item">
        <xhtml:span class="tooltip-item-color" [style.background-color]="'red'"></xhtml:span>
        Összes visszatáplálás: {{ totalBackFeed }} kWh
      </xhtml:div>
    </xhtml:div>
  </ng-template>

</app-charts-area-chart-stacked>

<p *ngIf="hasError" class="data-error">Nem áll adat rendelkezésre a {{interestedDate | date: 'yyyy.MM.dd.'}} naphoz.</p>
